
IF OBJECT_ID('mi_ATM945_ACOI.dbo.tmpref_hospice_clm_type_claim_id', 'U') IS NOT NULL
DROP TABLE mi_ATM945_ACOI.dbo.tmpref_hospice_clm_type_claim_id;

SELECT DISTINCT [CUR_CLM_UNIQ_ID]
INTO mi_ATM945_ACOI.dbo.tmpref_hospice_clm_type_claim_id
FROM [mi_ATM945_SOURCEDATA].[dbo].[CCLF1_CLAIMHEADER_PASSED]
where CLM_TYPE_CD = 50


IF OBJECT_ID('mi_ATM945_ACOI.dbo.tmpref_staging_member', 'U') IS NOT NULL
DROP TABLE mi_ATM945_ACOI.dbo.tmpref_staging_member;

SELECT
	[MEMBER_ID]
    ,[MEM_DOD]
INTO mi_ATM945_ACOI.dbo.tmpref_staging_member
FROM mi_ATM945_Staging.dbo.STAGING_MEMBER


/*


(8999 row(s) affected)

(67349 row(s) affected)

1min

*/