

IF OBJECT_ID('mi_ATM945_ACOI.dbo.A_tmpHCC1', 'U') IS NOT NULL
DROP TABLE mi_ATM945_ACOI.dbo.A_tmpHCC1;

SELECT
	year(RISK_YEAR_END_MONTH_START_DATE) as [INCURRED_YEAR]
	,a.[MEMBER_KEY]
	,mm_prior
	,case when b.mm_prior = 12 then [SCORE_COMMUNITY] else [SCORE_NEW_ENROLLEE] end as [HCC_COMMUNITY_RISK]
	,case when b.mm_prior = 12 then 0 else 1 end as HCC_NE
INTO
	mi_ATM945_ACOI.dbo.A_tmpHCC1
FROM
	mi_ATM945.dbo.CMSHCC_OUTPUT as a
	left join 
	(SELECT
		[MEMBER_KEY]
		,[INCURRED_YEAR]
		,count(*) as mm_prior
	FROM
		mi_ATM945_ACOI.dbo.dat_MEMBMTHS
	group by
		[MEMBER_KEY]
		,[INCURRED_YEAR]
	) as b
		on a.[MEMBER_KEY] = b.MEMBER_KEY
		and b.[INCURRED_YEAR] = year(a.RISK_YEAR_END_MONTH_START_DATE)



/*

(66144 row(s) affected)

1min

*/