

IF OBJECT_ID('mi_ATM945_ACOI.dbo.A_ER', 'U') IS NOT NULL
DROP TABLE mi_ATM945_ACOI.dbo.A_ER;

SELECT
	c.INCURRED_YEAR_AND_MONTH
	, c.[MEMBER_MONTH_START_DATE]
	, c.ELIG_STATUS
	, c.ASSN_STATUS
	, c.PCP_Name, c.area
	, [BILL_PROV_ID]
	, [BILL_PROV_NAME]
	, 0 as PROV_FLAG
	, c.MM
	, c.MM_risk
	, c.[HCC_COMMUNITY_RISK]
	, c.[AGE]
	, coalesce(admits,0) as admits
	, coalesce(paid,0) as paid
	, coalesce(preventable_paid,0) as preventable_paid
	, coalesce(ED_Needed_not_Preventable,0) as ED_Needed_not_Preventable
	, coalesce(ED_Needed_Preventable,0) as ED_Needed_Preventable
	, coalesce(Emergent_PC_Treatable,0) as Emergent_PC_Treatable
	, coalesce(Non_Emergent,0) as Non_Emergent
	, coalesce(Alcohol,0) as Alcohol
	, coalesce(Drug,0) as Drug
	, coalesce(Injury,0) as Injury
	, coalesce(Psych,0) as Psych
	, coalesce(Unclassified,0) as Unclassified
INTO
	mi_ATM945_ACOI.dbo.A_ER
FROM
	(select
		a.INCURRED_YEAR_AND_MONTH
		, b.ELIG_STATUS
		, b.ASSN_STATUS
		, b.PCP_Name, b.area
		,[PRVDR_OSCAR_NUM] as [BILL_PROV_ID]
		,ltrim(rtrim([PRVDR_OSCAR_NUM])) + ' - ' + coalesce(ltrim(rtrim([PRVDR_OSCAR_NAME])),'')  as [BILL_PROV_NAME]
		, sum(a.MR_ADMITS_CASES_RAW) as admits
		, sum(a.amt_paid) as paid
		, Sum((case when [ICD_10_OR_HIGHER] = 0 then (d.Emergent__PC_Treatable + d.Non_Emergent) else (e.Emergent__PC_Treatable + e.Non_Emergent) end)*a.amt_paid) as preventable_paid
		, Sum((case when [ICD_10_OR_HIGHER] = 0 then d.ED_Care_Needed__not_Preventable_ else e.ED_Care_Needed__not_Preventable_ end)*a.MR_ADMITS_CASES_RAW) as ED_Needed_not_Preventable
		, Sum((case when [ICD_10_OR_HIGHER] = 0 then d.ED_Care_Needed__Preventable_Avoi else e.ED_Care_Needed__Preventable_Avoi end)*a.MR_ADMITS_CASES_RAW) as ED_Needed_Preventable
		, Sum((case when [ICD_10_OR_HIGHER] = 0 then d.Emergent__PC_Treatable else e.Emergent__PC_Treatable end)*a.MR_ADMITS_CASES_RAW) as Emergent_PC_Treatable
		, Sum((case when [ICD_10_OR_HIGHER] = 0 then d.Non_Emergent else e.Non_Emergent end)*a.MR_ADMITS_CASES_RAW) as Non_Emergent
		, Sum((case when [ICD_10_OR_HIGHER] = 0 then d.Alcohol else e.Alcohol end)*a.MR_ADMITS_CASES_RAW) as Alcohol
		, Sum((case when [ICD_10_OR_HIGHER] = 0 then d.Drug else e.Drug end)*a.MR_ADMITS_CASES_RAW) as Drug
		, Sum((case when [ICD_10_OR_HIGHER] = 0 then d.Injury else e.Injury end)*a.MR_ADMITS_CASES_RAW) as Injury
		, Sum((case when [ICD_10_OR_HIGHER] = 0 then d.Psych else e.Psych end)*a.MR_ADMITS_CASES_RAW) as Psych
		, Sum((case when [ICD_10_OR_HIGHER] = 0 then d.Unclassified else e.Unclassified end)*a.MR_ADMITS_CASES_RAW) as Unclassified
	from
		mi_ATM945_ACOI.dbo.dat_Claims as a
		right join mi_ATM945_ACOI.dbo.A_Enrollment_Key as b
			on b.[MEMBER_KEY] = a.[MEMBER_KEY]
			and b.[INCURRED_YEAR_AND_MONTH] = a.[INCURRED_YEAR_AND_MONTH]
		left join ref_ACOI.dbo.ref_NYU_ED_ICD9 as d
			on a.ICD_DIAG_01_PRIMARY=d.icd9cm
		left join ref_ACOI.dbo.ref_NYU_ED_ICD10 as e
			on a.ICD_DIAG_01_PRIMARY=e.icd10cm
	where
		HCG_MR_LINE in ('O11a','O11b')
		and b.mm=1
	group by
		a.INCURRED_YEAR_AND_MONTH
		, b.ELIG_STATUS
		, b.ASSN_STATUS
		, b.PCP_Name, b.area
		,[PRVDR_OSCAR_NUM]
		,ltrim(rtrim([PRVDR_OSCAR_NUM])) + ' - ' + coalesce(ltrim(rtrim([PRVDR_OSCAR_NAME])),'') 
	) as a
	right join mi_ATM945_ACOI.dbo.A_Enrollment_Summary2 as c
		on a.[INCURRED_YEAR_AND_MONTH] = c.[INCURRED_YEAR_AND_MONTH]
		and a.[ELIG_STATUS] = c.[ELIG_STATUS]
		and a.[ASSN_STATUS] = c.[ASSN_STATUS]
		and a.[PCP_Name] = c.[PCP_Name]
		and a.[area] = c.[area]
;


/*

Warning: Null value is eliminated by an aggregate or other SET operation.

(10684 row(s) affected)

1min

*/
