
IF OBJECT_ID('MI_CareNE_ACOI.dbo.tmpref_CCN_Flag', 'U') IS NOT NULL
DROP TABLE MI_CareNE_ACOI.dbo.tmpref_CCN_Flag;

USE [MI_CareNE_ACOI]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[tmpref_CCN_Flag](
	[CCN] [nvarchar](255) NULL
) ON [PRIMARY]

GO


IF OBJECT_ID('MI_CareNE_ACOI.dbo.tmpref_hospice_clm_type_claim_id', 'U') IS NOT NULL
DROP TABLE MI_CareNE_ACOI.dbo.tmpref_hospice_clm_type_claim_id;

USE [MI_CareNE_ACOI]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[tmpref_hospice_clm_type_claim_id](
	[CUR_CLM_UNIQ_ID] [nvarchar](100) NULL
) ON [PRIMARY]

GO



IF OBJECT_ID('MI_CareNE_ACOI.dbo.tmpref_staging_member', 'U') IS NOT NULL
DROP TABLE MI_CareNE_ACOI.dbo.tmpref_staging_member;

SELECT
	a.MEMBER_ID
	,max(c.[_MEM_UDF_02_]) as [MEM_DOD]
INTO
	MI_CareNE_ACOI.dbo.tmpref_staging_member
FROM
	MI_CareNE_ACOI.dbo.dat_MEMBMTHS as a
	left join MI_CareNE.dbo.MEMBER as b
		on a.[MEMBER_ID] = b.[MEMBER_ID]
	left join MI_CareNE.dbo.MEMBER_UDF as c
		on c.[MEMBER_UDF_KEY] = b.[MEMBER_UDF_KEY]
GROUP BY
	a.MEMBER_ID





/*

(6578 row(s) affected)

(62927 row(s) affected)

*/