

IF OBJECT_ID('mi_ATM881_ACOI.dbo.tmpref_staging_member', 'U') IS NOT NULL
DROP TABLE mi_ATM881_ACOI.dbo.tmpref_staging_member;

SELECT
	[MEMBER_ID]
    ,[MEM_DOD]
INTO mi_ATM881_ACOI.dbo.tmpref_staging_member
FROM mi_ATM881_Staging.dbo.STAGING_MEMBER



IF OBJECT_ID('mi_ATM881_ACOI.dbo.tmpref_hospice_clm_type_claim_id', 'U') IS NOT NULL
DROP TABLE mi_ATM881_ACOI.dbo.tmpref_hospice_clm_type_claim_id;

SELECT DISTINCT [CUR_CLM_UNIQ_ID]
INTO mi_ATM881_ACOI.dbo.tmpref_hospice_clm_type_claim_id
FROM [mi_ATM881_SOURCEDATA].[dbo].[CCLF1_CLAIMHEADER_PASSED]
where CLM_TYPE_CD = 50


/*

(119542 row(s) affected)

(29038 row(s) affected

1 min

*/