

IF OBJECT_ID('MI_DEMO_ACOI.dbo.dat_Claims', 'U') IS NOT NULL
DROP TABLE MI_DEMO_ACOI.dbo.dat_Claims;

IF OBJECT_ID('MI_DEMO_ACOI.dbo.dat_MEMBMTHS', 'U') IS NOT NULL
DROP TABLE MI_DEMO_ACOI.dbo.dat_MEMBMTHS;

IF OBJECT_ID('MI_DEMO_ACOI.dbo.dat_membermonth_udd', 'U') IS NOT NULL
DROP TABLE MI_DEMO_ACOI.dbo.dat_membermonth_udd;


SELECT
	*
INTO
	MI_DEMO_ACOI.dbo.dat_Claims
FROM
	mi_ATM881_ACOI.dbo.dat_Claims
WHERE
	MEMBER_KEY % 3 = 0


SELECT
	*
INTO
	MI_DEMO_ACOI.dbo.dat_MEMBMTHS
FROM
	mi_ATM881_ACOI.dbo.dat_MEMBMTHS
WHERE
	MEMBER_KEY % 3 = 0


SELECT
	[member_id]
    ,[INCURRED_YEAR_AND_MONTH]
    ,[Medicare_Status]
    ,[hist_assgn]
    ,[curr_assgn]
	,case
		when subpop1 = 'Toledo' then 'Group1'
		when subpop1 = 'Cincinnati' then 'Group2'
		when subpop1 = 'Kentucky' then 'Group3'
		when subpop1 = 'Lorain' then 'Group4'
		when subpop1 = 'Lima' then 'Group5'
		when subpop1 = 'Youngstown' then 'Group6'
		when subpop1 = 'Springfield' then 'Group7'
		else 'Null' end as subpop1
INTO
	MI_DEMO_ACOI.dbo.[dat_membermonth_udd]
FROM
	[mi_ATM881_ACOI].[dbo].[dat_membermonth_udd]
	



/*

(21326916 row(s) affected)

(1451301 row(s) affected)

(5804210 row(s) affected)


5mins

*/