

IF OBJECT_ID('mi_ATM881_ACOI.demo.A_tmp_benchDRG1', 'U') IS NOT NULL
DROP TABLE mi_ATM881_ACOI.demo.A_tmp_benchDRG1;

SELECT
	[MEMBER_MONTH_START_DATE]
	,[INCURRED_YEAR_AND_MONTH]
	,[ELIG_STATUS]
	,[ASSN_STATUS]
	,area, PCP_Name
	,flg
	,sum(memmos) as memmos
	,Label1 as drg
	,Label3 as cm_cat
	,sum(LM_util) as LM_util
	,sum(WM_util) as WM_util
	,sum(LM_days) as LM_days
	,sum(WM_days) as WM_days
INTO
	mi_ATM881_ACOI.demo.A_tmp_benchDRG1
FROM
	(
	SELECT
		[MEMBER_MONTH_START_DATE]
		,[INCURRED_YEAR_AND_MONTH]
		,[ELIG_STATUS]
		,[ASSN_STATUS]
		,area, PCP_Name
		,drg_strat_idx
		,case when drg_strat_idx = 0 then 0 else 1 end as flg
		,memmos
		,Label1
		,Label3
		,memmos*[util_per_bm] as LM_util
		,0 as WM_util
		,memmos*[days_per_bm] as LM_days
		,0 as WM_days
	FROM
		[mi_ATM881_ACOI].[demo].[A_Enrollment_Bench_Strat] as a
		left join [ref_ACOI].[dbo].[ref_LM_drg_Bench] as b
			on a.drg_strat_idx = b.idx2

	UNION ALL

	SELECT
		[MEMBER_MONTH_START_DATE]
		,[INCURRED_YEAR_AND_MONTH]
		,[ELIG_STATUS]
		,[ASSN_STATUS]
		,area, PCP_Name
		,drg_strat_idx
		,case when drg_strat_idx = 0 then 0 else 1 end as flg
		,0 as memmos
		,Label1
		,Label3
		,0 as LM_util
		,memmos*[util_per_bm] as WM_util
		,0 as LM_days
		,memmos*[days_per_bm] as WM_days
	FROM
		[mi_ATM881_ACOI].[demo].[A_Enrollment_Bench_Strat] as a
		left join [ref_ACOI].[dbo].[ref_WM_DRG_Bench] as b
			on a.drg_strat_idx = b.idx2
	) as a
GROUP BY
	[MEMBER_MONTH_START_DATE]
	,[INCURRED_YEAR_AND_MONTH]
	,[ELIG_STATUS]
	,[ASSN_STATUS]
	,area, PCP_Name
	,flg
	,Label1
	,Label3
GO


IF OBJECT_ID('mi_ATM881_ACOI.demo.A_tmp_benchDRG2', 'U') IS NOT NULL
DROP TABLE mi_ATM881_ACOI.demo.A_tmp_benchDRG2;

SELECT
	a.[MEMBER_MONTH_START_DATE]
	,a.[INCURRED_YEAR_AND_MONTH]
	,a.[ELIG_STATUS]
	,a.[ASSN_STATUS]
	,a.area, a.PCP_Name
	,a.memmos
	,b.drg
	,b.cm_cat
	,b.LM_util/b.memmos * a.memmos as LM_util
	,b.WM_util/b.memmos * a.memmos as WM_util
	,b.LM_days/b.memmos * a.memmos as LM_days
	,b.WM_days/b.memmos * a.memmos as WM_days
INTO
	mi_ATM881_ACOI.demo.A_tmp_benchDRG2
FROM
	(select * from mi_ATM881_ACOI.demo.A_tmp_benchDRG1 where flg=0) as a
	left join (select * from mi_ATM881_ACOI.demo.A_tmp_benchDRG1 where flg=1) as b
		on a.[MEMBER_MONTH_START_DATE] = b.[MEMBER_MONTH_START_DATE]
		and a.[INCURRED_YEAR_AND_MONTH] = b.[INCURRED_YEAR_AND_MONTH]
		and a.[ELIG_STATUS] = b.[ELIG_STATUS]
		and a.[ASSN_STATUS] = b.[ASSN_STATUS]
		and a.area = b.area
		and a.PCP_Name = b.PCP_Name
GO


IF OBJECT_ID('mi_ATM881_ACOI.demo.A_tmp_benchDRG3', 'U') IS NOT NULL
DROP TABLE mi_ATM881_ACOI.demo.A_tmp_benchDRG3;

SELECT
	a.[MEMBER_MONTH_START_DATE]
	,a.[INCURRED_YEAR_AND_MONTH]
	,a.[ELIG_STATUS]
	,a.[ASSN_STATUS]
	,a.area, a.PCP_Name
	,sum(a.memmos) as memmos
	,drg
	,cm_cat
	,sum(LM_util) as LM_util
	,sum(WM_util) as WM_util
	,sum(LM_days) as LM_days
	,sum(WM_days) as WM_days
INTO
	mi_ATM881_ACOI.demo.A_tmp_benchDRG3
FROM
	(select [MEMBER_MONTH_START_DATE],[INCURRED_YEAR_AND_MONTH],[ELIG_STATUS],[ASSN_STATUS],area,PCP_Name,memmos,drg,cm_cat,LM_util,WM_util,LM_days,WM_days from mi_ATM881_ACOI.demo.A_tmp_benchDRG2
	UNION ALL
	select [MEMBER_MONTH_START_DATE],[INCURRED_YEAR_AND_MONTH],[ELIG_STATUS],[ASSN_STATUS],area,PCP_Name,memmos,drg,cm_cat,LM_util,WM_util,LM_days,WM_days from mi_ATM881_ACOI.demo.A_tmp_benchDRG1 where flg=1) as a
GROUP BY
	a.[MEMBER_MONTH_START_DATE]
	,a.[INCURRED_YEAR_AND_MONTH]
	,a.[ELIG_STATUS]
	,a.[ASSN_STATUS]
	,a.area, a.PCP_Name
	,drg
	,cm_cat
GO


IF OBJECT_ID('mi_ATM881_ACOI.demo.A_tmp_benchDRG4', 'U') IS NOT NULL
DROP TABLE mi_ATM881_ACOI.demo.A_tmp_benchDRG4;

SELECT
	a.[MEMBER_MONTH_START_DATE]
	,a.[INCURRED_YEAR_AND_MONTH]
	,a.[ELIG_STATUS]
	,a.[ASSN_STATUS]
	,a.area, a.PCP_Name
	,a.cm_cat
	,a.LM_util
	,a.WM_util
	,b.LM_Util as LM_Util_CM
	,b.WM_Util as WM_Util_CM
	,b.LM_Util/a.LM_util as adj_LM
	,b.WM_Util/a.WM_util as adj_WM
INTO
	mi_ATM881_ACOI.demo.A_tmp_benchDRG4
FROM
	(SELECT
		[MEMBER_MONTH_START_DATE]
		,[INCURRED_YEAR_AND_MONTH]
		,[ELIG_STATUS]
		,[ASSN_STATUS]
		,area, PCP_Name
		,cm_cat
		,sum(LM_util) as LM_util
		,sum(WM_util) as WM_util
	FROM
		mi_ATM881_ACOI.demo.A_tmp_benchDRG3
	GROUP BY
		[MEMBER_MONTH_START_DATE]
		,[INCURRED_YEAR_AND_MONTH]
		,[ELIG_STATUS]
		,[ASSN_STATUS]
		,area, PCP_Name
		,cm_cat
	) as a
	left join mi_ATM881_ACOI.demo.A_Bnchmrk_Cost_Model as b
		on a.[MEMBER_MONTH_START_DATE] = b.[MEMBER_MONTH_START_DATE]
		and a.[INCURRED_YEAR_AND_MONTH] = b.[INCURRED_YEAR_AND_MONTH]
		and a.[ELIG_STATUS] = b.[ELIG_STATUS]
		and a.[ASSN_STATUS] = b.[ASSN_STATUS]
		and a.area = b.area
		and a.PCP_Name = b.PCP_Name
		and a.cm_cat = b.cm_cat
GO


IF OBJECT_ID('mi_ATM881_ACOI.demo.A_Bnchmrk_DRG', 'U') IS NOT NULL
DROP TABLE mi_ATM881_ACOI.demo.A_Bnchmrk_DRG;

SELECT
	a.[MEMBER_MONTH_START_DATE]
	,a.[INCURRED_YEAR_AND_MONTH]
	,a.[ELIG_STATUS]
	,a.[ASSN_STATUS]
	,a.area, a.PCP_Name
	,a.memmos
	,a.drg
	,a.cm_cat
	,a.LM_util*b.adj_LM as LM_util
	,a.WM_util*b.adj_WM as WM_util
	,a.LM_days*b.adj_LM as LM_days
	,a.WM_days*b.adj_WM as WM_days
INTO
	mi_ATM881_ACOI.demo.A_Bnchmrk_DRG
FROM
	mi_ATM881_ACOI.demo.A_tmp_benchDRG3 as a
	left join mi_ATM881_ACOI.demo.A_tmp_benchDRG4 as b
		on a.[MEMBER_MONTH_START_DATE] = b.[MEMBER_MONTH_START_DATE]
		and a.[INCURRED_YEAR_AND_MONTH] = b.[INCURRED_YEAR_AND_MONTH]
		and a.[ELIG_STATUS] = b.[ELIG_STATUS]
		and a.[ASSN_STATUS] = b.[ASSN_STATUS]
		and a.area = b.area
		and a.PCP_Name = b.PCP_Name
		and a.cm_cat = b.cm_cat
GO



/*


(1598622 row(s) affected)

(0 row(s) affected)

(1598622 row(s) affected)

(10545 row(s) affected)

(1598622 row(s) affected)

30 mins

*/

